nav {
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
    margin: 1em 1em;
    width: 105vw;
    height: 4em;
    margin: 0;
    color: white;
    background-color: rgba(20,20,20,.9);
    background: black;
}

nav button {
    background-color: white;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #99e600;
    z-index: 299;
}

.navbar .collapse .navbar-nav .nav-item  .active {
    color: white;
}

nav a:hover {
    color: white;
}

nav ul {
    margin-left: 2em;
}

main {
    margin-top: 4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    background-color: black;
}

html {
    background-color: black;
}

h2 {
    border-bottom: .12em solid #99e600;
    text-transform: uppercase;
    margin: 1.5em 1em;
}

form {
    width: 40%;
    margin: 5% auto;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 1%;
    line-height: 2.5em;
}

fieldset {
    border: none;
}

.button {
    margin: 1.2em 0;
    background-color: #99e600;
    color: black;
    font-size: 16px;
    width: 20%;
    height: 2.5em;
}

.button:hover {
    background-color: black;
    color: white;
}

#comments {
    width: 95%;
    height: 12em;
}

input[type="text"] {
    width: 70%;
    height: 2.25em;
    margin: auto 3em;
}

input {
    border: 1px solid lightgrey;
}

label {
    margin: auto 1.1em;
}

input[type="radio"] {
    margin-left: 1.5em;
}
