* {
    box-sizing: boarder-box;
}

@media (max-width: 575.98px) {
#about .background {
    background: url("images/croppediphone.jpeg");
}
}

@media (min-width: 576px) and (max-width: 767.98px) {
#about .background {
    background: url("images/croppediphone.jpeg");
    background-size: 100vw 100vh;
}
}

@media (min-width: 768px) {
#about .background {
    background-image: url("images/iphone.jpeg");
    background-size: 105vw 100vh;
    background-repeat: no-repeat;
}
}

nav {
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
    margin: 1em 1em;
    width: 105vw;
    height: 4em;
    margin: 0;
    color: white;
    background-color: rgba(20,20,20,.9);
    background: black;
}

nav button {
    background-color: white;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #99e600;
    z-index: 299;
}

.navbar .collapse .navbar-nav .nav-item  .active {
    color: white;
}

nav a:hover {
    color: white;
}

nav ul {
    margin-left: 2em;
}

.inline {
    display: inline-block;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

#bio {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
    color: white;
    font-family: 'Rock Salt', cursive;
    line-height: 250%;
    margin-bottom: 2em;
    z-index: -2;
}

#bio h1 {
    font-size: 3.5em;
    font-weight: lighter;
    z-index: -2;
}

@media (min-width: 576px) {
#bio h4 {
    line-height: 2em;
    font-size: 1.4em;
}
}

@media (min-width: 768px) {
#bio h4 {
    line-height: 2em;
    font-size: 1.1em;
}
}

@media (min-width: 960px) {
    #bio h4 {
    line-height: 2em;
    font-size: 1.4em;
    }
}

.bold {
    font-weight: bold;
}

#quotes h1 {
    font-family: 'Amatic SC', cursive;
}

.celebrity-pics {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.col-md-4 {
    margin-top: 4em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.quote-text {
    margin-top: 2em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.larger-font {
    font-size: x-large;
}

.signatures {
    font-family: cursive;
}

.large-font {
    font-size: large;
}

#quotes {
    margin-top: 4em;
    margin-bottom: 6em;
}

#contact {
    margin-top: 4em;
}

footer {
    background-color: black;
    color: white;
    margin-bottom: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

footer a {
    color: #99e600;
}

footer a:hover {
    color: white;
}

.border {
    margin-top: 4em;
}

main {
    margin-top: 4em;
}